:root {
  --grb-gold: #BD9000;
}

#bootstrap-override a {
  color: var(--grb-gold);
}

#bootstrap-override a:hover {
    color: rgb(110, 110, 110);
}

#bootstrap-override a:active {
    color: white;
}

#bootstrap-override .active {
  color: rgb(110, 110, 110);
}

.custom-sidebar-img-border {
  border: 1px solid rgb(0, 0, 0, 0.17);
}

.post-date {
  font-size: 10pt;
  color: rgb(110, 110, 110);
}

.archive-post-date {
  font-size: 10pt;
  color: rgb(110, 110, 110);
}